.badges {
  --gutter: var(--size-8);
}

.badge {
  padding: var(--size-4) var(--size-8);
  font-size: var(--text-sm);
  font-weight: var(--font-semi);
  line-height: var(--leading-flat);
  color: var(--badge-color);
  background-color: var(--badge-bg);
  border-radius: var(--radius-sm);
}

[data-course="free"] .badge {
  --badge-color: hsla(var(--color-orange) / 1);
  --badge-bg: hsla(var(--color-orange) / 0.05);
}

[data-course="technical"] .badge {
  --badge-color: hsla(var(--color-blue) / 1);
  --badge-bg: hsla(var(--color-blue) / 0.05);
}

[data-course="rsti"] .badge {
  --badge-color: hsla(var(--color-green) / 1);
  --badge-bg: hsla(var(--color-green) / 0.05);
}
