.button {
  --button-padding: 0.75em;
  --button-border: 1px solid var(--button-border-color);
  --button-radius: 0.5em;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--button-padding);
  width: 100%;
  font-size: var(--button-font-size, 1em);
  font-weight: var(--button-font-weight, 600);
  line-height: 1.1;
  text-decoration: none;
  color: var(--button-color);
  background: var(--button-bg);
  border: var(--button-border);
  border-radius: var(--button-radius);
  cursor: pointer;
  transition: var(--transition-fade);
}

.button:hover {
  color: var(--button-hover-color);
  background: var(--button-hover-bg);
  border-color: var(--button-hover-border);
}

.button:disabled {
  pointer-events: none;
}

.button[data-button="cancelled"] {
  --button-color: var(--neutral-100);
  --button-bg: var(--red-400);
  --button-border-color: var(--red-400);
  --button-hover-color: var(--red-400);
  --button-hover-bg: var(--neutral-100);
}

.button[data-button="classifieds"] {
  --button-color: var(--neutral-100);
  --button-bg: var(--orange-500);
  --button-border-color: var(--orange-500);
  --button-hover-color: var(--orange-500);
  --button-hover-bg: var(--neutral-100);
}

.button[data-button="soon"] {
  --button-color: var(--orange-500);
  --button-bg: var(--neutral-100);
  --button-border-color: var(--orange-200);
}

.button[data-button="open"] {
  --button-color: var(--neutral-100);
  --button-bg: var(--orange-500);
  --button-border-color: var(--orange-500);
  --button-hover-color: var(--orange-500);
  --button-hover-bg: var(--neutral-100);
}

.button[data-button="close"] {
  --button-color: var(--red-400);
  --button-bg: var(--neutral-100);
  --button-border-color: var(--red-200);
}
