.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: var(--size-12);
  font-size: var(--text-base);
  font-weight: var(--font-semi);
  line-height: var(--leading-flat);
  text-decoration: none;
  color: var(--button-color);
  background: var(--button-bg);
  border: 1px solid var(--button-border, var(--button-bg));
  border-radius: var(--radius-md);
  cursor: pointer;
  transition: var(--transition-fade);
}

.button:hover {
  opacity: 0.8;
}

.button:disabled {
  pointer-events: none;
  opacity: 0.8;
}

.button[data-button="soon"] {
  --button-color: hsla(var(--color-orange) / 1);
  --button-bg: hsla(var(--color-white) / 1);
  --button-border: hsla(var(--color-orange) / 0.2);
}

.button[data-button="open"] {
  --button-color: hsla(var(--color-white) / 1);
  --button-bg: hsla(var(--color-orange) / 1);
}

.button[data-button="close"] {
  --button-color: hsla(var(--color-red) / 1);
  --button-bg: hsla(var(--color-white) / 1);
  --button-border: hsla(var(--color-red) / 0.2);
}

.button[data-button="classifieds"] {
  --button-color: hsla(var(--color-white) / 1);
  --button-bg: hsla(var(--color-orange) / 1);
}

.button[data-button="cancelled"] {
  --button-color: hsla(var(--color-white) / 1);
  --button-bg: hsla(var(--color-red) / 1);
}
