article {
  overflow: auto;
  background: var(--color-white);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow);
}

article > div {
  padding: var(--size-16) var(--size-24) var(--size-24);
}

.info > * {
  --flow-space: var(--size-4);
}

.info > h3 {
  color: hsla(var(--color-sky) / 1);
}
