.link {
  --gutter: var(--size-4);
  color: hsla(var(--color-text) / 1);
  cursor: pointer;
  transition: var(--transition-fade) color;
}

.link:hover {
  color: hsla(var(--color-black) / 1);
}

.link::after {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  background-size: cover;
  background-position: center;
}

[data-course="free"] .link::after {
  background-image: url(../../images/external_free.svg);
}

[data-course="technical"] .link::after {
  background-image: url(../../images/external_technical.svg);
}

[data-course="rsti"] .link::after {
  background-image: url(../../images/external_rsti.svg);
}
