.link {
  --gutter: 0.25em;
  color: var(--neutral-400);
  cursor: pointer;
  transition: var(--transition-fade) color;
}

.link:hover {
  color: var(--neutral-900);
}

.link::after {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  background-size: cover;
  background-position: center;
}

[data-course="free"] .link::after {
  background-image: url(../../images/external_free.svg);
}

[data-course="free"] .link::after {
  background-image: url(../../images/external_free.svg);
}

[data-course="free"] .link::after {
  background-image: url(../../images/external_free.svg);
}
