label::before,
label::after {
  content: "";
  position: absolute;
  width: var(--size-24);
  height: var(--size-24);
}

label::before {
  left: var(--size-16);
}

label::after {
  right: var(--size-12);
  background-image: url("../../images/filter-drop.svg");
}

[data-label="status"]::before {
  background-image: url("../../images/filter-status.svg");
}

[data-label="city"]::before {
  background-image: url("../../images/filter-city.svg");
}

[data-label="category"]::before {
  background-image: url("../../images/filter-category.svg");
}

select {
  position: relative;
  z-index: 100;
}
